<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-R5xzr-GAV0xzjd0NPOZCbrzlTps5RLM</string>
	<key>GCM_SENDER_ID</key>
	<string>1076767428827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boardGameLoversprueba</string>
	<key>PROJECT_ID</key>
	<string>prueba-boardgame-lovers</string>
	<key>STORAGE_BUCKET</key>
	<string>prueba-boardgame-lovers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076767428827:ios:5d3ea06171d4cbd484fcfe</string>
</dict>
</plist>